<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="container">
  <div class="form-row">
    <div class="card col-sm-10" style="background: lightgray;">
      <div class="card-body">
        <form action="/invoices" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <h5 class="card-title">Invoice Creation Tool</h5>
            <h6 class="card-subtitle mb-2 text-muted">Let's make some magic happen!</h6>
            <div class="form-group form-group-lg">
              <label for="inputFiles">Select a CSV file</label>
              <input type="file" name="file" class="form-control-file" accept=".csv">
              <button type="submit" class="btn btn-lrg btn-success" id="moneyTrain" value="Upload CSV">Create Invoices</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%= yield %>

<script src="script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>